osx_image: xcode10
language: swift
cache:	
  directories:	
  - Carthage
env:
  secure: ink5jhbtR9aGbiVzcrPP+jBLtYKmZ61uxmXmqwqsyAZip2zbL/tktXdLaeNhUnlJHazZF156rOFe5DFSElFmNYvpSZrXJCVMxwWKB+MJWQ879LUk6W4W65jTvkXKZmMrrUqwkOTNNMq0ycfs5tx+eFJBzHd3Z93OX0oKwb44ZjC1NC05LGJfOlZQs+7IWYKXu0XKpZ/Zo+n4jGxMPEaQCMifz8ac8WVAgsgXs5R3ANrAd6AtBHZqNLu+NzGi5FQ2u7M1EERWo69qAmmHQYKB9aYyERi4cU6KD3XF8B89szR3pH41avfYFs+ZqenF7yAm0dN5UoLBqHA5s+yBQ1kzZbvcCunEU88XjgeRuzwTUfyTq8RIN+BNzaAwSCgu/fNMaFLOZjYAXK+gtVm2elx69maC6N+hKpZblmgUtmaOQyXzY3pVNXdqCqqqzIrqSyvqPuuNSzLxjVFJUW8ycYEfB4Iywcwl74IlxWJ58WpeCgMW3cVE4l4kxw+ZWoVniumpVlp69QtgwHloUosOzmzoIwLjgEm6uGZvr3DIKKXwLZACtq8Oj7uhm8iNV4sU5eS0w+b+VC6gYCxI4yOZHWhwtBG4QtrKlEvXC0Gjy4rIXN0JuKiAHLZKiCr0YuCmks2xXv2INNnJAIBVlJ7URVY4OSY+eqCiWUSobO8n48Zu7gk=
before_install:
- gem install slather
- gem install cocoapods
- brew update
- brew install libsodium
- brew outdated carthage || brew upgrade carthage
- carthage bootstrap --platform iOS --cache-builds
before_deploy:
- carthage build --no-skip-current --platform iOS --cache-builds
- carthage archive $FRAMEWORK_NAME
after_deploy:
- pod trunk push --skip-import-validation --skip-tests --allow-warnings
script:
- set -o pipefail && xcodebuild test -scheme TezosCrypto -destination 'platform=iOS
  Simulator,name=iPhone XS,OS=12.0' ONLY_ACTIVE_ARCH=YES | xcpretty
after_success:
- slather
- bash <(curl -s https://codecov.io/bash)
deploy:
  provider: releases
  api_key:
    secure: 0W9EdUlK8nDrSU4rEv7lhobC+lwrCqiu69eLgFUbB8DofPZde4/ORhDVi3Wcd484nkZxn6Pb3U8u4bhz4Zgv965eaWEFIPExZ+jTUe/qkMhCYfq1n8WQwAuh6OJhZ2hfA022/rl80cLZruxPQlVgQW3Jx3L9EuTy4sDntB2ZyM6SMb21qOEHTp+PWyiudYLgBnGc3XsuuFQ1tQg8yAQRk4jrZrWZJttCYUfeuLyPaO58anHUtCLvySmmIz1KHUkOkWgKcs/xMusz9BY0xLURyFbOoZNxhunyCyiFik9iExtmrsCluURvn/CknSggSh6t8MWk8yXdgXfTYdARnb7AStnkybbfVVYLOcuy8+jfFneF94M5dVCmlSWyy1hetZJjl7Vs8M3WSxKlYlSjomj2aSAVfasGqTHRFvcsSfIoRmbqn8zRsYRieI1OX1J9AtSzLT7VwVi3/B5xkbuMrbAtbXtRyn6+akNy7EUPi/nEEZgGTbOkLd/sSu4hCueCjPDPsexwOMkm6ADIxGjyH4eA6/Pu3wZHCpgoM8DrYhrdOcTeQ5cAJN/AIX3b5VnWTAXcDSbWDtrBo0rwzNsG7t15SpqY5coNg8DHJorlY0z1Fe4CmwkqtvWX+C2RQLzxdB5bPFjTG7apcZl74ZweLF/mW2+rPOZvIepK8duAxgT8pfM=
  file: "$FRAMEWORK_NAME.framework.zip"
  skip_cleanup: true  
  on:
    repo: keefertaylor/TezosCrypto
    tags: true
